
{% extends 'layout.html' %}

{% block content %}

<h1>Dashboard</h1>

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-one-quarter">
    <div class="idcheck-dash idcheck-dash-{{ queue}}" id="pending">
      <p class="idcheck-dash-heading">Queue</p>
      <div class="idcheck-dash-details">
        <div class="idcheck-dash-number nhsuk-heading-xl">{{ data.idv_total }}</div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="idcheck-dash {% if state === 'inprogress' %}u-inprogress{% endif %}"id="inprogress" >
      <p class="idcheck-dash-heading">In progress</p>
      <div class="idcheck-dash-details">
        <span class="idcheck-dash-number nhsuk-heading-xl" id="progress-num">0</span>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="idcheck-dash idcheck-dash-{{holding|default('clear') }} {% if holding === 'inholding' %}u-inholding{% endif %}">
      <p class="idcheck-dash-heading">Holding list</p>
      <div class="idcheck-dash-details">
        <div class="idcheck-dash-number nhsuk-heading-xl">0</div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Completed today</p>
      <div class="idcheck-dash-details">
        <div class="idcheck-dash-number nhsuk-heading-xl">0</div>
      </div>
    </div>
  </div>
</div>

<form action="{{ thisPage }}" method="POST" role="form">

{% if state === 'inprogress' %}
  <p>You still have a verification in progress</p>
  <a class="nhsuk-button" href="id-checker-review{{ params }}">Continue verification</a>
  <p><a href="id-checker-dashboard{{ params }}&state=none">Abort</a></p>
{% elif queue === 'cleared' %}
  <button class="nhsuk-button" id="cleared">Start next verification</button>
{% else %}
  <button class="nhsuk-button">Start next verification</button>
{% endif%}

{% if data['devMode'] === 'true' %}

  <hr class="nhsuk-section-break">

  <div class="dev-mode">

    <select id="decline-0" class="nhsuk-select decline-group" id="sort" name="user">
      {% for i in range(0, data.idv_total) -%}
      <option name="user{{ data.idv[i].index }}" value="{{ data.idv[i].index }}">{{ data.idv[i].label }}</option>
      {%- endfor %}
    </select>

  </div>

{% endif %}

</form>

{% endblock %}
