{% extends '_layouts/_grids/_grid-1-stacked.html' %}
{% block page_title %}NHS Identity Verification and Matching Service - holding list{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = 'true' %}
{% set noabort = 'true' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&devMode=" + devMode %}


{% block content %}

<h1>Holding list</h1>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Reason</th>
      <th>Submitted</th>
      <th>&nbsp;</th>

    </tr>
    </thead>
    <tbody>
    <tr {% if state === 'inprogress' %}class="idcheck-pickedup"{% endif %}>
      <td>5f9c1b41</td>
      <td>Maria Anders</td>
      <td>"Numbers didn't show" - Rosie Waites</td>
      <td>1 hour, 15 minutes</td>
      <td><a href="id-checker-review{{ params }}&state=pickedup" class="">{% if state === 'aborted' or state === 'undefined' %}Pick up{% else %}Open{% endif %}</a> </td>
    </tr>
    <tr>
      <td>134a4214</td>
      <td><i style="color: grey;">Not available</i></td>
      <td>"No information appeared for PDS check, I tried to refresh a couple of times and it still won't show." - Rosie Waites</td>
      <td>55 minutes</td>
      <td><a href="id-checker-review{{ params }}&state=pickedup" class="">Pick up</a> </td>
    </tr>
    <tr>
      <td>7fc61a11</td>
      <td>5990060173</td>
      <td>"The video won't play on my computer" - Emily Claire</td>
      <td>29 minutes</td>
      <td><span style="color: grey;">In progress</span></td>
    </tr>
    <tr class="idcheck-pickedup">
      <td>3cb1f8d7</td>
      <td>Stuart Mittleman</td>
      <td>"The PDS result isn't showing, just a spinner!" - Paul Lloyd</td>
      <td>32 hours, 21 minutes</td>
      <td><span style="color: grey;"><a href="id-checker-review{{ params }}&state=pickedup" class="">Open</a></span></td>
    </tr>
    </tbody>
  </table>


{% endblock %}
